body{
    background: #cccccc;
}

h1{
    text-align: center;
    height: 150px;
    border: 10px solid #000000;
    padding: 20px;
    margin: 40px;

}

p{ /* esto son selectores*/
    text-align: center;
}

em strong{ /* se aplican los estilos de css para esta especifica combinacion de selectores*/
    color: red;
}

#mision{  /* id selector*/
    font-size: 20px;
}

#banner{
    width: 100%;;
}

.bloquePrincipal{
    background: #cccccc;
    padding: 20px; /* padding es el espacio interno*/
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}

h2{
    text-align: center;
}

.items{ /*class selector*/
    font-style: italic;
}

ul{
    display: inline-block; /* para que se muestren en linea*/
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferencial{
    width: 50%;
}
