header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative; /*por defecto es static*/
    margin: 0 auto; /*centra el elemento, la mejor tecnica para centar un div es usar el calculo de margin automatico, asi el navegador calcula el width restante, lo divide entre 2 y agrega la mitad a cada lado*/
}
nav{
    position: absolute; 
    top: 110;
    right: 0;
}

nav li{
    display: inline; /* por defecto li viene en display:block, hay que cambiarlo*/
    margin: 10px;
}

nav a{
    text-transform: uppercase; /* para que las letras sean mayusculas*/
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /* quita el subrayado de los links */
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /* para que el padding no se sume al width*/
    border: 2px solid #000000;
    border-radius: 10px;

}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-despcripcion{
    font-size: 18px;
    color: #666666;
}

.producto-precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}