body{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative; /*por defecto es static*/
    margin: 0 auto; /*centra el elemento, la mejor tecnica para centar un div es usar el calculo de margin automatico, asi el navegador calcula el width restante, lo divide entre 2 y agrega la mitad a cada lado*/
}
nav{
    position: absolute; 
    top: 110px;
    right: 0;
}

nav li{
    display: inline; /* por defecto li viene en display:block, hay que cambiarlo*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /* para que las letras sean mayusculas*/
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /* quita el subrayado de los links */
}

nav a:hover{ /* cuando el mouse pasa por encima del link*/
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    box-sizing: border-box; /* para que el padding no se sume al width*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#c78c19;

}

.productos li:active{ /* cuando se hace click en el link*/
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{ /*el hover afecta al h2, dentro de los li que estan en la class producto*/
    font-size: 33px;

}
.producto-despcripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(../partSevenTwo/bg.jpg); /* url es para agregar una imagen de fondo, pro default se repite hasta que llene el espacio del width*/
    padding: 40px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

/* Empezamos a usar los estilos que usaremos en contacto.html */

form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{ /* para que los input y textarea tengan el mismo estilo, podemos separar los selectores de items por comas*/
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* transicion visual con css de un elemento, para que todos los elemtos que estan en el hover*/
    cursor: pointer; /* para que el cursor se vea como un click*/
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2); /* scale sirve para aumentar el tamaño del elemento proporcionalmente, para usar más de una transformacion, se debe de usar sobre el mismo, agregando mas elemtos a transformar, por ejemplo scale(1.2) rotate(75)*/
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS para nuestra home */

.banner{
    width: 100%
}

.tituloPrincipal{
    text-align: center;
    font-size: 2em; /*2em es el doble del tamaño de la fuente del elemento padre*/
    margin: 0 0 1em;
    clear: left; /* para que el titulo no se superponga con el banner, el float se limpia con la propiedad clear*/
}

.tituloPrincipal::first-letter{
    font-weight: bold;
}

p::first-line{
    font-style: italic;
}


.bloquePrincipal{
    margin:0 0 1em;
    padding: 3em 0;
    background: #ffffff;
    width: 940px;
    margin: 0 auto;
}

.bloquePrincipal strong{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left; /* para que el elemento se desplace a la izquierda y el texto pueda estar a lado*/
    margin: 0 20px 20px 0; /* superior derecho inferior izquierdo*/
}

.mapa{
    padding: 3em 0;
    background:linear-gradient(#ffffff, #888888) ;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapaContenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenidoDiferencial{
    width: 640px;
    margin: 0 auto;
}

/*calculo es una funcion en css que nos permite realizar calculos para el width, por ejemplo, si queremos que el width sea el 50% del width del elemento padre, podemos usar calc(50% - 20px), para que el width sea el 50% del width del elemento padre, menos 20px*/
.listaDiferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top; /* para que el texto se alinee con el texto de la derecha*/
}

.items{
    line-height: 1.5; /* para que el texto tenga un espacio entre lineas*/
}

.items::before{
    content:"★";  /* para agregar un caracter antes del titulo*/
}

.items:first-child{ /* para que el primer elemento de la lista tenga un estilo diferente, estas son pseudo clases*/
    font-weight: bold;
}

.imagenDiferencial{
    width: 60%;
}

.video{
    width: 560px;
    margin: 1em auto;
}


/* Selectores avanzados
    Selector > , para acceder a los hijos de determinado elemento. Por ejemplo, para acceder todos los p dentro del main:
    main > p{
        color: red;
    }

    Selector +, para acceder al primer hermano de determinado elemento. Por ejemplo, para acceder el primer p después de una img:
    img + p{
        color: red;
    }

    Selector ~, para acceder a todos los hermanos de determinado elemento. Por ejemplo, para acceder todos los p después de una img:
    img ~ p {
        color: red;
    }

    Selector not, para acceder a los elementos, excepto algunos. Por ejemplo, para acceder a todos los p dentro de main excepto el p que tiene id missao:
    main p:not(#missao){
        color: red;
    }
*/